#cardssection {display: flex;
  text-align: center;}
  #cardssection img{width: 200px;
  margin-left: 90px;
  margin-right: 90px;
  background-color: #1F4690;
  color:aliceblue;
  
  }
  #siblogo {width: 200px;
    align-items: left;
  }
  #loginbox{ background-color: rgba(13, 4, 22, 0); 
    border-color: white; 
    color:aliceblue;}

  #LoginButton{
    min-width: 120px;
  }
  #SignUpButton{
    min-width: 120px;
  }

  
  header a{
      color: #1F4690;
  }
  
  .header {
    background: #1F4690;
  } 
  
  #outerbox {display:flex;
     align-items: center;
    justify-content: space-evenly;
    background-color: #1F4690;
    color:aliceblue;
    }
  #section2 {
    display:flex; }
  #ModuleTwo{display: flex;
    }
  #leftContent
  {padding: 30px;
  }
  #rightContent{ 
    width: 500px;
    align-items: right;
  }
  #whiteblock{ background-color: aliceblue; padding: 30px;}
  header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: aliceblue;
  }
  nav a {
  margin-left: 75px;
  text-decoration: none;
  font-size: large;
  font-size: large;
  padding: 30px;
  } 
     
  footer{
  align-items: center;
  text-align: center;
  background-color: #1F4690;
  text-decoration: none;
  }
  
  a{color: aliceblue;}
  
  #footerNav 
  {font-size: 15px;
  margin-top: 50px;
  border-right: 1px solid rgb(5, 7, 0) ;
  padding-top: 30px;
  }
     
  svg{margin: 5px;}
  footer p{color:white;}